@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.readOnlyEditor {
  opacity: 0.7 !important;
}
.readOnlyEditor * {
  background-color: transparent !important;
}
.readOnlyEditor .slider {
  background-color: rgba(100, 100, 100, 0.4) !important;
}
